@import url("https://fonts.googleapis.com/css?family=Oswald:700");

* {
    margin:0;
    padding: 0;
}

body {
  background:#231F20;
  text-align:center;
}

h1 {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before {
    display: block;
    position: absolute;
    content: '';
    background-color: #4a90e2;
    width: 23px;
    height: 28px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    top: 11px;
    left: 10px;
}

h1::after {
    display: block;
    position: absolute;
    content: '';
    background-color: #4a90e2;
    width: 23px;
    height: 28px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    top: 11px;
    right: 10px;
}
